* {
	box-sizing: border-box;
}

html,
body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.card {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 16px;
	padding: 16px;
}

.example-browser {
	display: flex;
}

.example-browser .sidebar {
	position: sticky;
	top: 0;
	border-right: 1px solid #e0e0e0;
	height: 100vh;
	overflow: auto;
	min-width: 240px;
	outline: none;
	border: none;
	border-radius: 0px;
}

.sidebar option {
	padding: 8px;
	cursor: pointer;
}

.inverted-colors {
	background-color: #1d1b1b;
	color: #f7f5f2;
}

.page-container {
	margin: auto;
	max-width: 800px;
	padding: '20px';
}
